body{
  background-color: black;
  display: flex;
  justify-content: center;

}
.container{
  flex: 1;
  height: 160vh;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  margin: 0 auto;
  height: 400px;
}
#button{
width: 400px;
height: 400px;
background-image: url('./img/sol.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
}
#popper-button{
width: 200px;
height: 200px;
background-image: url('./img/tierra.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
cursor: pointer;
}
button{
  background-color: blue;
  color: white;
  padding: 14px;
  border-radius: 5px;
}
#tooltip{
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 24px;
  border-radius: 4px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#arrow,
#arrow::before {
position: absolute;
width: 8px;
height: 8px;
background: inherit;
}

#arrow {
visibility: hidden;
}

#arrow::before {
visibility: visible;
content: '';
transform: rotate(45deg);
}
#tooltip[data-popper-placement^='top'] > #arrow,#popper-popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow, #popper-popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow,#popper-popup[data-popper-placement^='left'] > #arrow  {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow,#popper-popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}


#popper-popup {
  display: none;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
  width: 100%;
  max-width: 380px;
}
#popper-popup[data-show]{
  display: block;
}
